Flask==2.3.3
Werkzeug==2.3.7
Flask-SQLAlchemy==3.0.5
Flask-Login==0.6.2
Flask-Bcrypt==1.0.1
setuptools
wheel
opencv-python-headless==4.8.0.76
deepface==0.0.93
tf-keras
qrcode==7.4.2
Pillow==10.4.0
numpy==1.26.4